# =========================
# macOS
# =========================
.DS_Store

# =========================
# LaTeX intermediate files
# =========================
*.aux
*.bbl
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.lof
*.log
*.lot
*.nav
*.out
*.run.xml
*.snm
*.synctex.gz
*.toc
*.xdv

# latexmk
*.latexmk

# minted/listings/cache
_minted*
*.pyg

# temporary
*.tmp
*.temp

# backup/editor
*~
*.swp
*.swo

*.pdf
*.tex

# =========================
# Keep source/output files
# =========================
!*.bib
!*.png
