[submodule "submodules/HICCUP_fork"]
	path = submodules/HICCUP_fork
	url = git@github.com:jsbamboo/HICCUP.git
	branch = jzhang/maint-perlm
[submodule "submodules/betacast_fork"]
	path = submodules/betacast_fork
	url = git@github.com:jsbamboo/betacast.git
	branch = jzhang/maint-perlm
